@import "tailwindcss";

@theme {
  --animate-zoom-in: zoom-in 0.5s ease-in;
  @keyframes zoom-in {
    from {
      opacity: 0;
      transform: scale(0.8);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
  }

  --animate-fade-in-left: fade-in-left 0.5s ease-in;

  @keyframes fade-in-left {
    from {
      opacity: 0;
      transform: translateX(-50px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

  --animate-fade-in-up: fade-in-up 0.3s ease-in;

  @keyframes fade-in-up {
    from {
      opacity: 0;
      transform: translateY(50px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  --animate-slide-in-up: slide-in-up 0.3s ease-out;
  @keyframes slide-in-up {
    from {
      opacity: 0;
      transform: translateY(80px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  --animate-slide-out-right: slide-out-right 0.3s ease-in forwards;
  @keyframes slide-out-right {
    from {
      opacity: 1;
      transform: translateX(0);
    }
    to {
      opacity: 0;
      transform: translateX(120%);
    }
  }

  --animate-fade-in: fade-in 0.2s ease-out;
  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  --animate-fade-out: fade-out 0.2s ease-in forwards;
  @keyframes fade-out {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }

  --animate-zoom-in-form: zoom-in-form 0.2s ease-out;
  @keyframes zoom-in-form {
    from {
      opacity: 0;
      transform: scale(0.9) translateY(-20px);
    }
    to {
      opacity: 1;
      transform: scale(1) translateY(0);
    }
  }

  --animate-zoom-out-form: zoom-out-form 0.2s ease-in forwards;
  @keyframes zoom-out-form {
    from {
      opacity: 1;
      transform: scale(1) translateY(0);
    }
    to {
      opacity: 0;
      transform: scale(0.9) translateY(-20px);
    }
  }
}

@layer components {
  .client-page {
    @apply py-28 bg-slate-100 min-h-screen flex flex-col items-center gap-10;
  }

  .admin-page {
    @apply w-[90%] flex flex-col gap-6;
  }
}
